.botao {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: start;
  align-items: center;
  width: 100%;
  background: #454545;
  color: #FFF;
  font-size: 1.25rem;
  line-height: 1.5;
  box-sizing: border-box;
  gap: 12px;
  text-transform: uppercase;
  padding: 24px;
  cursor: pointer;
 
  position: relative;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.botao.desabilitado {
  background: #303030;
  color: #696969;
  pointer-events: none;
}

.botao.desabilitado.poltrona path{
  fill: #585858;
}

.botao.desabilitado path {
  stroke: #585858;
}

.botao.desabilitado::before {
  background-color: #353535;
}

.botao::before {
  content: '';
  width: 12px;
  height: 100%;
  background: #FFCA42;
  display: block;
  position: absolute;
}

:global(.active) {
  background: #FFCA42;
}

.botao > svg {
  justify-self: center;
}

.botao:hover {
  background: #FFCA42;
  color: #FFF;
}

.assentos {
  font-size: 0.875rem;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}