.filmeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #FFFFFF;
  padding: 36px;
  border-bottom: 2px solid #4545454D;
}

.filmeInfo > img {
  border-radius: 12px;
  display: block;
}

.filmeNome {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 20px;
}

.botao {
  padding: 24px;
  color: #FFF;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}