.resumo {
  display: grid;
  color: #FFF;
  padding: 28px;
  border-bottom: 2px solid #4545454D;
  border-top: 2px solid #4545454D;
}

.resumo >  p {
  font-size: 1.25rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.resumo ul {
  list-style: none;
}

.ingressos {
  display: grid;
  gap: 12px;
  align-items: center;
  grid-template-columns: auto 1fr;
}

.ingressos > ul {
  grid-column: 2 / 3;
}

.ingressoItem {
  display: flex;
  justify-content: space-between;
}

.ingressoItem > div {
  display: grid;
  grid-template-columns: 32px 1fr;
  margin-bottom: 8px;
  gap: 12px;
}

.ingressoItem > div > p:nth-child(2) {
  color: #b6b6b6;
}

.icone {
  display: grid;
  place-items: center;
}

.pedido {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 16px;
  row-gap: 4px;
}

.pedido div:nth-child(1) {
  grid-row: 1 / 3;
}

.pedido div:nth-child(2), .pedido div:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.pedido div:nth-child(2) {
  font-size: 0.875rem;
 color: #d7d7d7;
}

.pedido div:nth-child(3) {
  grid-column: 2 / 3;
  font-size: 1rem;
  text-transform: uppercase;
}