.App {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, p, li, ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

/* Animations */

.comeFromLeft {
  transform: translateX(-40px);
  opacity: 0;
  animation: comeFromLeft 0.3s forwards;
}

@keyframes comeFromLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

.comeFromRight {
  transform: translateX(40px);
  opacity: 0;
  animation: comeFromRight 0.3s forwards;
}

@keyframes comeFromRight {
  to {
    transform: initial;
    opacity: initial;
  }
}

.comeFromBottom {
  transform: translateY(40px);
  opacity: 0;
  animation: comeFromBottom 0.3s forwards;
}

@keyframes comeFromBottom {
  to {
    transform: initial;
    opacity: initial;
  }
}

.comeFromTop {
  transform: translateY(-40px);
  opacity: 0;
  animation: comeFromTop 0.3s forwards;
}

@keyframes comeFromTop {
  to {
    transform: initial;
    opacity: initial;
  }
}